/* Basic styling for main sections */
* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #34d399;
    padding: 10px;
    text-align: center;
}

.site-name {
    font-size: 3.0em;
    font-family: "Economica";
}
.side-bar {
    height: auto;
    padding: 20px;
}

.main-content {
    background-color: #ececec;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Styling for the forms */
#new-todo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid black 1px;
    width: 40vw;
    height: 45vh;
    padding: 20px;
    background-color: white;
}

#new-project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid black 1px;
    width: 10vw;
    height: 10vh;
    padding: 20px;
    background-color: white;
}

input {
    display: flex;
    /* margin-bottom: 20px; */
    width: 40vw;
    height: 20px;
    text-align: left;
}

#project-title {
    width: 10vw;
}

#description {
    margin-bottom: 5px;
    width: 40vw;
}

label, .label-wrapper {
    width: 15rem;
    margin-bottom: 15px;
    font-family: "Roboto";
    text-align: left;
}

.label-wrapper {
    margin-bottom: 0px;
}

#submit, #project-submit {
    text-align: center;
    display: block;
    width: 10vw;
}

/* Styling for the buttons that bring up the forms */
.new-todo, .new-project {
    width: 10vw;
    border-radius: 10px;
    border: 1px black solid;
    font-size: 16px;
    margin-top: 10px;
}

/* Styling for the tasks and projects */
.task-display {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
}

.task, .project, .home-button{
    display: flex;
    margin: 5px;
    padding: 10px;
    background-color: white;
    border: solid 0.5px black;
}

.project, .home-button {
    justify-content: space-between;
    background-color: #ececec;
}

.home-button {
    font-size: 1.2em;
}

.project:hover, .home-button:hover {
    background-color: #dedcdc;
}

.remove {
    border-radius: 50%;
    border: solid 1px black;
    color: rgb(227, 227, 227);
    width: 20px;
    text-align: center;
    font-family: "Roboto"
}

.remove:hover {
    background-color: #ef4444;
}

.task-creation {
    padding: 20px;
}

/* Styling for the text */
.current-page, .project-page {
    font-size: 2.5em;
    font-family: "Roboto";
    background-color: #34d399;
    padding: 10px;
}

.current-page {
    border: solid 0.5px black;
}

.project-page {
    border-bottom: 2px solid black;
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

/* Styling for task elements */
.complete {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px black;
}

.complete:hover{
    background-color: #86efac;
}

.description {
    white-space: pre-wrap;
    overflow-wrap: normal;
}

.task-info {
    width: 85%;
    margin-left: 10px;
}

.title {
    font-size: 1.2em;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 90%;
}

#content {
    display: grid;
    grid-template-columns: 20% 80%;
}