* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #22d3ee;
    padding: 10px;
}

.site-name {
    font-size: 2.2em;
    font-family: "Roboto"
}
.side-bar {
    height: auto;
    padding: 20px;
}

.main-content {
    background-color: #a5f3fc;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#new-todo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid black 1px;
    width: 40vw;
    height: 45vh;
    padding: 20px;
    background-color: white;
}

#new-project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid black 1px;
    width: 10vw;
    height: 10vh;
    padding: 20px;
    background-color: white;
}

input {
    display: flex;
    /* margin-bottom: 20px; */
    width: 40vw;
    height: 20px;
    text-align: left;
}

#project-title {
    width: 10vw;
}

#description {
    margin-bottom: 5px;
    width: 40vw;
}

label, .label-wrapper {
    width: 15rem;
    margin-bottom: 15px;
    font-family: "Roboto";
    text-align: left;
}

.label-wrapper {
    margin-bottom: 0px;
}

#submit, #project-submit {
    text-align: center;
    display: block;
    width: 10vw;
}

.new-todo, .new-project {
    width: 10vw;
    border-radius: 10px;
    border: 1px black solid;
    font-size: 16px;
    margin-top: 10px;
}

.task-display {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
}

.task, .project {
    display: flex;
    margin: 5px;
    padding: 10px;
}

.task-creation {
    padding: 20px;
}

.home-page, .project-page {
    font-size: 2.5em;
    font-family: "Roboto";
    background-color: #22d3ee;
    padding: 10px;
}

.complete {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px black;
}

.description {
    white-space: pre-wrap;
    overflow-wrap: normal;
}

.task-info {
    width: 85%;
    margin-left: 10px;
}

.title {
    font-size: 1.2em;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 90%;
}

#content {
    display: grid;
    grid-template-columns: 20% 80%;
    border: 1px solid black;
}